MyLibrary.Services/appsettings.json
MyLibrary.Services/appsettings.Development.json
MyLibrary.Services/obj/
MyLibrary.Services/bin/
.vs/
MyLibrary.Data/bin/
MyLibrary.Data/obj/
MyLibrary.WebApi/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
MyLibrary.WebApi/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
MyLibrary.WebApi/bin/
MyLibrary.WebApi/obj/
MyLibrary.DataLayer.Contracts/
MyLibrary.DataLayer/obj/
MyLibrary.Data/ScaffoldDataBase.txt
MyLibrary.Services.XUnitTestProject/bin/
MyLibrary.Services.XUnitTestProject/obj/
MyLibrary.Mock.DataLayers/obj/
MyLibrary.Mock.DataLayers/bin/
MyLibrary.DTOs.DataLayers/obj/
MyLibrary.UnitOfWork/bin/
MyLibrary.UnitOfWork/obj/
MyLibrary.DTOs/obj/
MyLibrary.Contracts.UnitOfWork/obj/
MyLibrary.WebApi/appsettings.json
MyLibrary.DataLayer/bin/
MyLibrary.DTOs/bin/
MyLibrary.Contracts.UnitOfWork/bin/
MyLibrary.Services.Contracts/bin/
MyLibrary.Services.Contracts/obj/
*.pfx
