<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/mylibrary-com/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="radulfr96" />
      <add key="ClearTextPassword" value="0bc41370238c0ce6c146067007952a4e180622f2" />
    </github>
  </packageSourceCredentials>
</configuration>
